server:
  port: 8080

spring:
  application:
    name: gateway
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  config:
    import:
      - optional:classpath:application-${spring.profiles.active}.yaml # Load【dev】config
      - optional:nacos:${spring.application.name}.yaml # Load【Nacos】config

  # Redis config
  data:
    redis:
      repositories:
        enabled: false
      lettuce:
        pool:
          # Maximum number of connections in the connection pool
          max-active: 200
          # The maximum blocking wait time of the connection pool (a negative value indicates no limit)
          max-wait: -1ms
          # Maximum idle connections in the connection pool
          max-idle: 10
          # Minimum number of idle connections in the connection pool
          min-idle: 0

  cloud:
    nacos:
      server-addr: ${NACOS_HOST}:${NACOS_PORT} # Nacos host
      username: ${NACOS_USERNAME} # Nacos username
      password: ${NACOS_PASSWORD} # Nacos password
      discovery:
        namespace: ${spring.profiles.active}
        group: DEFAULT_GROUP
      config:
        namespace: ${spring.profiles.active}
        group: DEFAULT_GROUP
    gateway:
      routes:
        # User Service
        - id: user
          uri: lb://user-service
          predicates:
            - Path=/users/**
          filters:
            - RewritePath=/users/v3/api-docs, /v3/api-docs
        # Event Service
        - id: event
          uri: lb://event-service
          predicates:
            - Path=/events/**
          filters:
            - RewritePath=/events/v3/api-docs, /v3/api-docs
        # Task Service
        - id: task
          uri: lb://task-service
          predicates:
            - Path=/tasks/**
          filters:
            - RewritePath=/tasks/v3/api-docs, /v3/api-docs
        # Attendee Service
        - id: attendee
          uri: lb://attendee-service
          predicates:
            - Path=/attendees/**
          filters:
            - RewritePath=/attendees/v3/api-docs, /v3/api-docs
        # File Service
        - id: file
          uri: lb://file-service
          predicates:
            - Path=/files/**
          filters:
            - RewritePath=/files/v3/api-docs, /v3/api-docs
        # Notification Service
        - id: notification
          uri: lb://notification-service
          predicates:
            - Path=/notifications/**
          filters:
            - RewritePath=/notifications/v3/api-docs, /v3/api-docs
        # websocket gateway
        - id: ws-upgrade
          uri: lb:ws://ws-gateway
          predicates:
            - Path=/ws
            - Header=Upgrade, websocket
          order: -10

        # 2) REST under /ws/**
        - id: ws-api
          uri: lb://ws-gateway
          predicates:
            - Path=/ws/**
          order: 0

      x-forwarded:
        prefix-enabled: false

knife4j:
  # Integrate Swagger docs，refer https://doc.xiaominfo.com/docs/action/springcloud-gateway
  gateway:
    enabled: true
    routes:
      - name: user-service
        service-name: user-service
        url: /users/v3/api-docs
      - name: event-service
        service-name: event-service
        url: /events/v3/api-docs
      - name: task-service
        service-name: task-service
        url: /tasks/v3/api-docs
      - name: attendee-service
        service-name: attendee-service
        url: /attendees/v3/api-docs
      - name: file-service
        service-name: file-service
        url: /files/v3/api-docs
      - name: notification-service
        service-name: notification-service
        url: /notifications/v3/api-docs

gateway:
  white-list:
    - /users/auth/mobileSsoLogin
    - /users/auth/login
    - /users/auth/refresh
    - /users/reg/**
    - /ws
    - /ws/internal/**
    - /doc.html
    - /webjars/**
    - /favicon.ico
    - /v3/**
    - /*/v3/**

############## Sa-Token config (文档: https://sa-token.cc) ##############
sa-token:
  # token name
  token-name: Authorization
  # token validity period (unit: seconds) The default is 30 days, -1 means permanent validity
  timeout: 86400
  # token 最低活跃频率（单位：秒），如果 token 超过此时间没有访问系统就会被冻结，默认-1 代表不限制，永不冻结
  # Minimum active frequency (unit: seconds). If the token does not access the system within this time,
  # it will be frozen. The default value of -1 means no limit and never freeze.
  active-timeout: -1
  # 是否允许同一账号多地同时登录 （为 true 时允许一起登录, 为 false 时新登录挤掉旧登录）
  # Whether to allow multiple logins from the same account at the same time
  # (if true, multiple logins are allowed; if false, new logins will replace old logins)
  is-concurrent: true
  # 在多人登录同一账号时，是否共用一个 token （为 true 时所有登录共用一个 token, 为 false 时每次登录新建一个 token）
  # When multiple people log into the same account, do they share a token?
  # (If true, all logins share a token; if false, a new token is created for each login.)
  is-share: true
  # Whether to output operation logs
  is-log: true
  # Token style
  token-style: uuid
  cookie:
    http-only: true

# Heath check
management:
  endpoints:
    web:
      exposure:
        include: '*'
  info:
    env:
      enabled: true
  endpoint:
    health:
      show-details: always
      group:
        readiness.include: ping
        liveness:
          include:
            - "*"
          exclude:
            - ${management.endpoint.health.group.readiness.include}
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
