spring:
  # Redis config
  data:
    redis:
      host: ${DEV_REDIS_HOST}
      port: ${DEV_REDIS_PORT}
      database: ${DEV_REDIS_DATABASE}
      # password: ${DEV_REDIS_PASSWORD}
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
            allowed-origin-patterns: "*"
            allowed-methods:
              - "GET"
              - "POST"
              - "DELETE"
              - "PATCH"
              - "PUT"
              - "OPTIONS"
            allowed-headers: "*"
            allow-credentials: true
            max-age: 360000