<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nus.edu.u.user.mapper.user.UserMapper">

    <resultMap id="UserWithRoleMap" type="nus.edu.u.user.domain.dto.UserRoleDTO">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="tenantId" column="tenant_id"/>

        <collection property="roles" ofType="nus.edu.u.user.domain.dto.RoleDTO">
            <id property="id" column="role_id"/>
            <result property="name" column="role_name"/>
            <result property="roleKey" column="role_key"/>
            <result property="status" column="role_status"/>
            <result property="remark" column="role_remark"/>
        </collection>
    </resultMap>

    <resultMap id="UserDOMap" type="nus.edu.u.user.domain.dataobject.user.UserDO">
        <id    property="id"         column="id"/>
        <result property="username"  column="username"/>
        <result property="password"  column="password"/>
        <result property="remark"    column="remark"/>
        <result property="email"     column="email"/>
        <result property="phone"     column="phone"/>
        <result property="status"    column="status"/>
        <result property="loginTime" column="login_time"/>
        <result property="deptId"    column="dept_id"/>
        <result property="tenantId"  column="tenant_id"/>
        <result property="firebaseUid" column="firebase_uid"/>
        <result property="totpSecret" column="totp_secret"/>
        <result property="totpEnabled" column="totp_enabled"/>
    </resultMap>

    <update id="updateByIdWithoutTenant" parameterType="nus.edu.u.user.domain.dataobject.user.UserDO">
        UPDATE sys_user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="status != null">status = #{status},</if>
            <if test="loginTime != null">login_time = #{loginTime},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="postList != null">post_list = #{postList},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
        </set>
        WHERE id = #{id}
        AND deleted = 0
    </update>

    <select id="selectRawById" resultMap="UserDOMap">
        SELECT *
        FROM sys_user
        WHERE id = #{id}
        LIMIT 1
    </select>

    <select id="selectUserWithRole" resultMap="UserWithRoleMap">
        SELECT u.id AS user_id,
        u.username,
        u.email,
        u.tenant_id,
        r.id AS role_id,
        r.name AS role_name,
        r.role_key,
        r.status AS role_status,
        r.remark AS role_remark
        FROM sys_user u
        LEFT JOIN sys_user_role ur ON u.id = ur.user_id
        LEFT JOIN sys_role r ON ur.role_id = r.id
        WHERE u.deleted = 0 and ur.deleted = 0 and r.deleted = 0 and u.id = #{userId}
    </select>

    <resultMap id="UserWithPermissionMap" type="nus.edu.u.user.domain.dto.UserPermissionDTO">
        <id property="userId" column="user_id"/>
        <result property="permissionId" column="permission_id"/>
        <result property="permissionName" column="permission_name"/>
        <result property="permissionKey" column="permission_key"/>
        <result property="parentId" column="parent_id"/>
        <result property="permissionType" column="permission_type"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="selectUserWithPermission" resultMap="UserWithPermissionMap">
        SELECT DISTINCT
            u.id AS user_id,
            p.id AS permission_id,
            p.name AS permission_name,
            p.permission_key,
            p.parent_id,
            p.type AS permission_type,
            p.status
        FROM sys_user u
        LEFT JOIN sys_user_role ur ON u.id = ur.user_id
        LEFT JOIN sys_role r ON ur.role_id = r.id
        LEFT JOIN sys_role_permission rp ON r.id = rp.role_id
        LEFT JOIN sys_permission p ON rp.permission_id = p.id
        WHERE u.deleted = 0 and ur.deleted = 0 and r.deleted = 0 and rp.deleted = 0 and p.deleted = 0 and u.id = #{userId}
    </select>

    <!-- RoleDTO mapping -->
    <resultMap id="RoleDTOMap" type="nus.edu.u.user.domain.dto.RoleDTO">
        <id property="id" column="role_id"/>
        <result property="name" column="role_name"/>
        <result property="roleKey" column="role_key"/>
        <result property="status" column="role_status"/>
        <result property="remark" column="role_remark"/>
    </resultMap>

    <!-- Mapping of UserRoleDTO, containing a list of roles -->
    <resultMap id="UserRoleDTOMap" type="nus.edu.u.user.domain.dto.UserRoleDTO">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="status" column="status"/>

        <!-- one to more ：roles -->
        <collection property="roles" ofType="nus.edu.u.user.domain.dto.RoleDTO" resultMap="RoleDTOMap"/>
    </resultMap>


    <!-- Query all users and their roles -->
    <select id="selectAllUsersWithRoles" resultMap="UserRoleDTOMap">
        SELECT
            u.id        AS user_id,
            u.username  AS username,
            u.email     AS email,
            u.phone     AS phone,
            u.tenant_id AS tenant_id,
            u.status    AS status,
            r.id        AS role_id,
            r.name      AS role_name,
            r.role_key  AS role_key,
            r.status    AS role_status,
            r.remark    AS role_remark
        FROM sys_user u
                 LEFT JOIN sys_user_role ur
                           ON u.id = ur.user_id
                               AND ur.deleted = 0
                 LEFT JOIN sys_role r
                           ON ur.role_id = r.id
                               AND r.deleted = 0
        WHERE u.deleted = 0
    </select>
    <select id="selectByUsername" resultType="nus.edu.u.user.domain.dataobject.user.UserDO">
        SELECT
            id,
            username,
            password,
            remark,
            email,
            phone,
            status,
            login_time,
            dept_id,
            post_list,
            tenant_id,
            firebase_uid,
            totp_secret,
            totp_enabled
        FROM sys_user
        WHERE username = #{username}
          AND deleted = 0
    </select>
    <select id="selectByIdWithoutTenant" resultType="nus.edu.u.user.domain.dataobject.user.UserDO">
        SELECT
            id,
            username,
            password,
            remark,
            email,
            phone,
            status,
            login_time,
            dept_id,
            post_list,
            tenant_id,
            firebase_uid,
            totp_secret,
            totp_enabled
        FROM sys_user
        WHERE id = #{id}
          AND deleted = 0
    </select>
</mapper>